{% extends 'base.html' %}
{% block title %}
  <title>
      Create Program
  </title>
{% endblock %}

{% block content %}
<!--begin::Entry-->
<div class="d-flex flex-column-fluid mt-5">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Card-->
    <div class="card card-custom">
      <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
          <h3 class="card-label">
             Add Program
          </h3>
        </div>
      </div>
      <div class="card-body">
        <form
            class="form-horizontal"
            action="{% url 'create_program' %}"
            method="POST"
            >
            {% csrf_token %} {{form.as_p}}
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-primary mr-2" type="submit">
                        Create
                    </button>
                    <button
                        class="btn btn-primary"
                        onclick="window.location.href=localStorage.getItem('program');"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </form>
      </div>
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
<!--end::Entry-->
{% endblock %}