{% extends 'base.html' %}
{% load static %}
 {% block extra_stylesheets %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.2"></script>
    <link rel="stylesheet" type="text/css" href="http://179.49.60.158:8888/cordovez/vendor/jquery/jqueryui-min.css"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script> 
 {% endblock %}
{% block content %}
<div class="d-flex flex-column-fluid mt-10" id="app">
    <div class="container-fluid">
        <div class="d-flex flex-row">
            <!--begin::Aside-->
            <div class="flex-row-auto offcanvas-mobile w-200px w-xxl-275px" id="kt_inbox_aside">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <!--begin::Body-->
                    <div class="card-body px-5">
                        <!--begin::New Program-->
                        <div class="px-4 mt-4 mb-10">
                        <a id="new_program" class="btn btn-block btn-primary font-weight-bold text-uppercase py-4 px-6 text-center" @click="newProgram">New Program</a>
                        </div>
                        <!--end::New Program-->
                        <!--begin::Navigations-->
                        <div class="navi navi-hover navi-active navi-link-rounded navi-bold navi-icon-center navi-light-icon">
                            {% for program in programs %}
                                <!--begin::Item-->
                                <div class="navi-item my-2">
                                    <a href="#" class="navi-link active" @click="setProject('{{program.name}}')">
                                        <span class="navi-text font-weight-bolder font-size-lg" >{{program.name}}</span>
                                    </a>
                                </div>
                                <!--end::Item-->
                            {% endfor %}
                        </div>
                        <!--end::Navigations-->
                    </div>
                            <button class="btn btn-info text-center" style="float:right" @click="exportAllCSV()"> <i class="fas fa-file-csv"></i> Exportar CSV</button>
                    <!--end::Body-->
                </div>
                <!--end::Card-->
            </div>
            <!--end::Aside-->
            <!--begin::List-->
            <div class="flex-row-fluid ml-lg-8 d-block" id="kt_inbox_list">
                <!--begin::Card-->
                <div class="card card-custom card-stretch">
                    <div class="card-body">
                        {% include "optimization/form.html" %}
                    </div>
                </div>
                <!--end::Card-->
            </div>
            <!--end::List-->
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
  <script>
    const projects = [];
    {% for program in programs%}
        projects.push('{{ program.name }}');
    {% endfor %}
  </script>
  <script src="{% static 'assets/optimization_data.js' %}"></script>
{% endblock %}